<div>
  <div class="flex margin">
    <mat-form-field>
      <mat-label>Filter Product</mat-label>
      <input matInput type="text" [(ngModel)]="filterValue" (blur)="filterProduct(filterValue)"
        placeholder="Search product name">
    </mat-form-field>
    <div class="margin-left">
      <button mat-raised-button color="primary" (cklick)="userDetails()">Add User</button>
    </div>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort>
    <!-- First Column ID-->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{matTableHeaders?.id}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Second Column -->
    <ng-container matColumnDef="{{matTableConsts?.avatar}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{matTableHeaders?.image}} </mat-header-cell>
      <mat-cell *matCellDef="let element"><img [src]="element.avatar" width="75" height="75" alt="image" /> </mat-cell>
    </ng-container>

    <!-- Third Column -->
    <ng-container matColumnDef="{{matTableConsts?.first_name}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{matTableHeaders?.fname}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.first_name}} </mat-cell>
    </ng-container>

    <!-- Fourth Column -->
    <ng-container matColumnDef="{{matTableConsts?.last_name}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{matTableHeaders?.lname}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.last_name}} </mat-cell>
    </ng-container>

    <!-- FIfth Column -->
    <ng-container matColumnDef="{{matTableConsts?.email}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{matTableHeaders?.email}} </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="{{matTableConsts?.edit}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{matTableHeaders?.edit}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
          color="primary" (click)="edit(element)">
          <mat-icon>edit</mat-icon>
        </button> </mat-cell>
    </ng-container>
    <ng-container matColumnDef="{{matTableConsts?.delete}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{matTableHeaders?.delete}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Delete" class="iconbutton"
          (click)="delete(element.id)" color="warn">
          <mat-icon>delete</mat-icon>
        </button> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>