<div class="login-card">
    <mat-card class="card-bg" color="primary">
        <h1 class="flex-center">{{loginLabels?.LoginLbl}}</h1>
        <form class="login-form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>{{loginLabels?.unameLbl}}</mat-label>
                <input matInput placeholder="Username" formControlName="name" value="SantoshB">
                <mat-error *ngIf="f.name.errors?.required">
                    {{loginLabels?.unameReqLbl}}
                </mat-error>
                <mat-error *ngIf="f.name.errors?.minlength">
                    {{loginLabels?.unameMinLbl}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>{{loginLabels?.pwdLbl}}</mat-label>
                <input matInput type="password" placeholder="Password" formControlName="pwd" value="Reddy123">
                <mat-error *ngIf="f.pwd.errors?.required">
                    {{loginLabels?.pwdReqLbl}}
                </mat-error>
                <mat-error *ngIf="f.pwd.errors?.minlength">
                    {{loginLabels?.pwdMinLbl}}
                </mat-error>
            </mat-form-field>
            <div class="flex-center">
                <button class="padding-lr" type="submit" mat-raised-button color="primary">Submit</button>
            </div>
        </form>
    </mat-card>
</div>
