<h3 class="flex-center nomargin">{{userLabels?.UserLbl}}</h3>
<form class="user-form" [formGroup]="userForm" (ngSubmit)="onSubmit()" color="primary">
    <mat-form-field class="full-width" appearance="fill">
        <mat-label color="primay">{{userLabels?.fnameLbl}}</mat-label>
        <input color="primay" matInput placeholder="{{userLabels?.fnameLbl}}" formControlName="name">
        <mat-error *ngIf="f.name.errors?.required">
            {{userLabels?.fnameReqLbl}}
        </mat-error>
        <mat-error *ngIf="f.name.errors?.minlength">
            {{userLabels?.fnameMinLbl}}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{userLabels?.lnameLbl}}</mat-label>
        <input matInput placeholder="{{userLabels?.lnameLbl}}" formControlName="lname">
        <mat-error *ngIf="f.lname.errors?.required">
            {{userLabels?.lnameReqLbl}}
        </mat-error>
        <mat-error *ngIf="f.lname.errors?.minlength">
            {{userLabels?.lnameMinLbl}}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{userLabels?.unameLbl}}</mat-label>
        <input matInput placeholder="{{userLabels?.unameLbl}}" formControlName="uname">
        <mat-error *ngIf="f.uname.errors?.required">
            {{userLabels?.unameReqLbl}}
        </mat-error>
        <mat-error *ngIf="f.uname.errors?.minlength">
            {{userLabels?.unameMinLbl}}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{userLabels?.pnumLbl}}</mat-label>
        <input matInput placeholder="{{userLabels?.pnumLbl}}" formControlName="pnum">
        <mat-error *ngIf="f.pnum.errors?.required">
            {{userLabels?.pnumReqLbl}}
        </mat-error>
        <mat-error *ngIf="f.pnum.errors?.minlength">
            {{userLabels?.pnumMinLbl}}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{userLabels?.emailLbl}}</mat-label>
        <input matInput placeholder="{{userLabels?.emailLbl}}" formControlName="email">
        <mat-error *ngIf="f.email.errors?.required">
            {{userLabels?.pwdReqLbl}}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{userLabels?.addrLbl}}</mat-label>
        <input matInput placeholder="{{userLabels?.addrLbl}}" formControlName="addr">
        <mat-error *ngIf="f.addr.errors?.required">
            {{userLabels?.addrReqLbl}}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{userLabels?.pincLbl}}</mat-label>
        <input matInput placeholder="{{userLabels?.pincLbl}}" formControlName="pcode">
        <mat-error *ngIf="f.pcode.errors?.invalid">
            {{userLabels?.pincReqLbl}}
        </mat-error>
        <mat-error *ngIf="f.pcode.errors?.pattern && f.pcode.errors?.minlength">
            {{userLabels?.pincMinLbl}}
        </mat-error>
        <mat-error *ngIf="f.pcode.errors?.minlength && f.pcode.errors?.pattern">
            {{userLabels?.pincPatLbl}}
        </mat-error>
    </mat-form-field>
    <mat-dialog-actions class="flex-center">
        <button class="padding-lr" type="submit" mat-raised-button color="primary">Submit</button>
        <button mat-raised-button mat-dialog-close color="accent">Cancel</button>
    </mat-dialog-actions>
</form>